<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Receive Messages</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <img src="/images/logo.png" alt="Logo" class="logo">
    <h1>Received Messages</h1>
</header>
<table>
    <thead>
    <tr>
        <th>Message</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="message : ${messages}">
        <td th:text="${message}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/send}">Send a Message</a>
</body>
</html>